html
	head
		title= 'Articles'
	body
		ul(class='articlesList')
			each item in articles
				li
					a(href= '/articlesList/' + item.title)= item.title
		div
			span='Enter title for new article: '
			input(type='text' class='newArticleTitle')
		div
			span='Enter text of the new article: '
			input(type='text' class='newArticleText')
		button(class='newArticleButton')= 'Add'
		div
			span='Enter title of an article you want to delete: '
			input(type='text' class='deleteArticleTitle')
		button(class='deleteArticleButton')= 'Delete'
		div
			span='Enter title of an article you wanna update: '
			input(type='text' class='updateArticleTitle')
		div
			span='Enter new text for this article: '
			input(type='text' class='updateArticleText')
		button(class='updateArticleButton')= 'Update'
		script(src='/js/articlesListController.js')